---
layout: default
title: ivan cafe
path: home
---

<div class="mt-6">
  <div class="mx-auto flex flex-col place-content-center items-center">
    <div role="img" aria-label="a bunch of lovely animals near a bonfire. Illustration made by Rocco Lombardi" class="w-full h-80 mx-auto rounded block bg-center bg-no-repeat bg-cover" style="background-image: url(static/img/1.jpg);"></div>
    <span role="img" aria-label="a black and white photo of the author" style="background-image: url(/static/img/bea.jpg)" class="w-40 h-40 -mt-20 rounded-full border-4 bg-cover bg-no-repeat text-4xl block mb-4"></span>
    <h1 class="text-2xl mt-4 font-semibold">Beatrice Messineo</h1>
    <h2 class="text-base uppercase font-semibold text-gray-500">traduttrice | revisora | Correttrice di bozze</h2>
    <div class="flex items-center gap-6 mt-6">
      <a href="https://instagram.com/bea.messy" class="flex items-center gap-2 btn btn-outline btn-sm !border rounded-full !border-stone/300" target="blank">
        <!-- instagram logo and link -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"/></svg>
        <span>Instagram</span>
      </a>
      <a href="https://www.linkedin.com/in/beatricemessineo" class="flex items-center gap-2 btn btn-outline btn-sm rounded-full !border !border-opacity/30" target="blank">
        <!-- instagram logo and link -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77Z"/></svg>
        <span>LinkedIn</span>
      </a>
      <a href="https://www.ibs.it/libri/traduttore/beatrice-messineo" class="flex items-center gap-2 btn btn-outline rounded-full  btn-sm !border !border-opacity/30" target="blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11 17H7q-2.075 0-3.538-1.463T2 12q0-2.075 1.463-3.538T7 7h4v2H7q-1.25 0-2.125.875T4 12q0 1.25.875 2.125T7 15h4v2Zm-3-4v-2h8v2H8Zm5 4v-2h4q1.25 0 2.125-.875T20 12q0-1.25-.875-2.125T17 9h-4V7h4q2.075 0 3.538 1.463T22 12q0 2.075-1.463 3.538T17 17h-4Z"/></svg>
        <span>IBS</span>
      </a>
    </div>
  </div>
</div>

<!-- Return all tags -->
<!-- <section class="">
  <h2 id="tags" class="uppercase tracking-wider mt-20 mb-3 text-base-content text-opacity-80 text-xs">What I use to talk about</h2>
  {% for tag in collections.tagList %}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
    <a href="{{ tagUrl | url }}">
    <span class="mb-1 mr-1 inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-100 text-indigo-800">
    <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-indigo-400" fill="currentColor" viewBox="0 0 8 8">
        <circle cx="4" cy="4" r="3" />
    </svg>
    {{ tag }}
    </span>
    </a>
  {% endfor %}
</section> -->



<!-- <h2 class="uppercase tracking-wider border-t border-base-content border-opacity-20 mt-24 pt-6 mb-6 text-base-content text-opacity-80 text-xs">What I am busy with</h2> -->
<!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 ">
  <div class="">
    <div class="font-bold text-sm mb-2">I am working on</div>
    <div class="bg-base-content bg-opacity-10 flex items-center space-x-4 shadow-sm rounded p-3">
      <img alt="bonfire logo" class="w-8" src="static/img/bonfire.png"/>
      <div class="text-base-content text-opacity-80">
        <a class="link link-hover font-bold" target="_blank" href="https://bonfirenetworks.org/">Bonfire</a>
        <div class="text-sm">Social networking reimagined</div>
      </div>
    </div>
    
  </div>
  <div class="">
    <div class="font-bold text-sm mb-2">I am reading</div>
    <div class="flex flex-col space-y-2">
      <div class="bg-base-content bg-opacity-10 flex items-center space-x-4 shadow-sm rounded p-3">
        <img alt="bonfire logo" class="w-8" src="static/img/dawn.jpg"/>
        <div class="text-base-content text-opacity-80">
          <a class="link link-hover font-bold" target="_blank" href="https://www.penguin.co.uk/books/314/314162/the-dawn-of-everything/9780141991061.html">The Dawn of Everything</a>
          <div class="text-sm">By David Graeber, David Wengrow</div>
        </div>
      </div>
      <div class="bg-base-content bg-opacity-10 flex items-center space-x-4 shadow-sm rounded p-3">
        <img alt="bonfire logo" class="w-8" src="static/img/elogio.jpeg"/>
        <div class="text-base-content text-opacity-80">
          <a class="link link-hover font-bold" target="_blank" href="https://www.edizioninottetempo.it/it/elogio-della-terra">Elogio della terra</a>
          <div class="text-sm">By Byung-Chul Han</div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="font-bold text-sm mb-2">I am growing</div>
    <div class="flex items-center flex-wrap">
      <span class="bg-base-content bg-opacity-10 mr-2 mb-2 flex items-center space-x-4 shadow-sm rounded p-2">
        <div class="text-base-content text-opacity-80">🥬 Salads</div>
      </span>
      <span class="bg-base-content bg-opacity-10 mr-2 mb-2 flex items-center space-x-4 shadow-sm rounded p-2">
        <div class="text-base-content text-opacity-80">🧅 Onions</div>
      </span>
      <span class="bg-base-content bg-opacity-10 mr-2 mb-2 flex items-center space-x-4 shadow-sm rounded p-2">
        <div class="text-base-content text-opacity-80">🥒 Zucchini</div>
      </span>
      <span class="bg-base-content bg-opacity-10 mr-2 mb-2 flex items-center space-x-4 shadow-sm rounded p-2">
        <div class="text-base-content text-opacity-80">String beans</div>
      </span>
      <span class="bg-base-content bg-opacity-10 mr-2 mb-2 flex items-center space-x-4 shadow-sm rounded p-2">
        <div class="text-base-content text-opacity-80">🍅 Tomatoes "Pachino"</div>
      </span>
      <span class="bg-base-content bg-opacity-10 mr-2 mb-2 flex items-center space-x-4 shadow-sm rounded p-2">
        <div class="text-base-content text-opacity-80">🌶️ Chili Peppers</div>
      </span>
      <span class="bg-base-content bg-opacity-10 mr-2 mb-2 flex items-center space-x-4 shadow-sm rounded p-2">
        <div class="text-base-content text-opacity-80">🌿 Aromatic herbs</div>
      </span>
    </div>
  </div>

</div> -->
<div class="border-b">
  <h2 class="text-base border-b-4 inline-block border-primary uppercase font-semibold mt-20">Ultimi articoli</h2>
</div>
  <section class="mt-3 lg:px-0">
    {% set postslist = collections.post %}
    {% for post in postslist | reverse %}
    {% if loop.index0 < 3 %}
      <article class="my-16 lg:my-8 lg:flex lg:space-x-6">
        <div class="w-full h-60 lg:w-32 lg:h-32 bg-blueGray-400 rounded bg-cover bg-no-repeat bg-center shadow-xl" style="background-image: url({{ post.data.image }})"></div>
        <div class="flex-1 mt-4 lg:mt-0">
          <h2 class="font-bold text-2xl text-blueGray-200 hover:text-blueGray-200 hover:underline mb-2">
              <a href="{{ post.url | url }}">
                  {% if post.data.title %}
                      {{ post.data.title }}
                  {% else %}
                      Untitled
                  {% endif %}
              </a>
          </h2>
          <div class="flex items-center space-x-2">
              <span class="flex items-center space-x-1">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-base-content text-opacity-70" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                    </svg>
                <time class="text-xs text-base-content text-opacity-70">{{ post.date | readableDate }}</time>
              </span>
          </div>
          
          
          {% if post.data.description %}
              <p class="text-sm text-base-content text-opacity-80 my-2">
                  {{ post.data.description }}
              </p>
          {% endif %}
          <div class="my-2">
              {%- for tag in post.data.tags -%}
              {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                  <a href="{{ tagUrl | url }}">
                  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-100 text-indigo-800">
                  <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-indigo-400" fill="currentColor" viewBox="0 0 8 8">
                      <circle cx="4" cy="4" r="3" />
                  </svg>
                  {{ tag }}
                  </span>
                  </a>
              {%- endfor %}
          </div>
          <div>
              <a href="{{ post.url | url }}" class="text-pink-400 font-bold text-sm">
                  Read more →
              </a>
          </div>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </section>
<!-- <div class="flex mx-auto mt-12">
  <a href="/blog" class="btn btn-outline btv-sm normal-case">View all posts</a>
</div> -->

<div class="bg-stone-200 flex flex-col items-center border-base-content border-opacity-20 px-12 rounded-lg py-16 mt-24 mb-6">
  <div class="text-2xl font-bold leading-relaxed prose text-base-content">
    Vuoi propormi un testo, una collaborazione o semplicemente conoscermi meglio/dirmi la tua opinione? Scrivimi a <a class="font-bold link link-primary" mailto="beatrice.messineo@gmail.com">beatrice.messineo@gmail.com</a> o contattami su <a class="font-bold link link-primary" href="https://instagram.com/bea.messy" target="blank">Instagram</a>. 
  </div>
</div>

{# 
<div class="max-w-screen-md mx-auto mt-4">
  <div class="block px-6 mb-10 lg:flex items-top lg:px-0">
    <img class="rounded-xl w-36 h-36" src="static/img/logo.jpg" />
    <div class="mt-4 text-left lg:ml-4 lg:mt-0">
      <h1 class="mb-2 text-3xl font-extrabold tracking-wide text-left text-gray-800">Hello, I'm Ivan</h1>
      <h2 class="leading-7 tracking-wide text-gray-600 text-md">I am a designer and frontend developer and an eager reader. I am a member of <a class="font-semibold text-pink-400 underline" target="blank" href="https://zo.team">zo</a> and <a class="font-semibold text-pink-400 underline" target="blank" href="https://bonfire.cafe">bonfire</a> crews. 
      <br/> My recent passions involves baking breads and create generative glyphs with <a class="font-medium text-gray-600 underline" target="blank" href="https://p5js.org">p5.js</a>. 
      <br/> I am currently reading <a class="font-medium text-gray-600 underline" target="blank" href="https://press.princeton.edu/books/paperback/9780691220550/the-mushroom-at-the-end-of-the-world">The Mushroom at the end of the world</a> by <a class="font-medium text-gray-600 underline" target="blank" href="https://en.wikipedia.org/wiki/Anna_Tsing">Anna Tsing</a> and <a class="font-medium text-gray-600 underline" target="blank" href="https://www.upress.umn.edu/book-division/books/what-would-animals-say-if-we-asked-the-right">What Would Animals Say If We Asked the Right Questions?</a> by <a class="font-medium text-gray-600 underline" target="blank" href="https://en.wikipedia.org/wiki/Vinciane_Despret">Vinciane Despret</a>. 
      <br> One of my favourite movie is <a class="font-medium text-gray-600 underline" target="blank" href="https://en.wikipedia.org/wiki/Arrival_(film)">The Arrival</a>. <br/>
      You can get in touch via <a class="font-medium text-gray-600 underline" target="blank" href="mailto:ivanminutillo@outlook.it">email</a> or <a class="font-medium text-gray-600 underline" target="blank" href="https://twitter.com/ivanminutillo">twitter</a>.</h2>
      </h2>
    </div>
  </div>
  <div>
    <h2 class="px-6 text-xs tracking-wider text-pink-600 uppercase lg:px-0">Latest projects</h2>
    <div class="mt-4">
      <ul class="grid grid-cols-1 gap-2 px-6 lg:px-0 lg:grid-cols-3">
        <li class="p-4 bg-gray-100 rounded shadow-sm">
          <a target="blank" href="https://bonfirenetworks.org/" target="blank">
            <h3 class="text-sm font-bold text-gray-800">Bonfire</h3>
            <p class="text-sm text-gray-600">An open source federated social network for individuals and communities to design, operate and control their own digital lives.</p>
          </a>
        </li>
        <li class="p-4 bg-gray-100 rounded shadow-sm">
          <a target="blank" href="https://reflowproject.eu/" target="blank">
            <h3 class="text-sm font-bold text-gray-800">Reflow</h3>
            <p class="text-sm text-gray-600">REFLOW is an EU H2020 funded project that seeks to understand and transform urban material flows, co-create and test regenerative solutions at business, governance, and citizen levels to create a resilient circular economy.</p>
          </a>
        </li>
        <li class="p-4 bg-gray-100 rounded shadow-sm">
          <a target="blank" href="https://medium.com/sector-challenge-9-claiming-universal-credit/tagged/catalyst" target="blank">
            <h3 class="text-sm font-bold text-gray-800">Catalyst: UK Universal Credit</h3>
            <p class="text-sm text-gray-600">Prototype and test ways of providing remote support for individuals struggling or failing to make Universal Credit claims online for reasons like a lack of digital or language skills, or mental health issues.</p>
          </a>
        </li>
        <li class="p-4 bg-gray-100 rounded shadow-sm">
          <a target="blank" href="https://moodle.com/moodlenet/" target="blank">
            <h3 class="text-sm font-bold text-gray-800">MoodleNet</h3>
            <p class="text-sm text-gray-600">An open social media platform for educators, focused on professional development and open content to empower communities of educators to share and learn from each other to improve the quality of education.</p>
          </a>
        </li>
        <li class="p-4 bg-gray-100 rounded shadow-sm">
          <a target="blank" href="https://uniquid.com/" target="blank">
            <h3 class="text-sm font-bold text-gray-800">Uniquid</h3>
            <p class="text-sm text-gray-600">UniquID is the Identity as a Service to leverage the emerging standards for a decentralized IoT.</p>
          </a>
        </li>
        <li class="p-4 bg-gray-100 rounded shadow-sm">
          <a target="blank" href="fair.coop" target="blank">
            <h3 class="text-sm font-bold text-gray-800">FairCoop</h3>
            <p class="text-sm text-gray-600">FairCoop is an open global cooperative, self-organized via the web and remaining outside nation-state control.</p>
          </a>
        </li>
      </ul>
    <div>
          
  </div>
  {% include "./_includes/partials/content.html" %} #}
</div>